/* custom css file  */
.common_bg{
    background-color: #9EC3FA;
    margin-top: 15px;
}
.header_height{
    min-height: 100px;
}
.item_one{
    background-color: #CFE1FB;
    }
.item_two{
    background-color: #69A6DE;
    height: 150px; 
    margin-top: 15px;
}
.padding_right_disable{
    padding-right: 0px;
}
.brand,.gloval_nav,.tools{
    min-height: 70px; 
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.hero_height{
    min-height: 150px;
}
.hero_feature,.call_to_action{
    min-height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

}
.add{
    text-align:center;
}
.article_height{
    min-height: 500px;
}
.article_height{
    min-height: 500px;
    
}
.article_feature{
    min-height: 430px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.article_listing{
    min-height: 430px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;  
}
.sidebar_feature{
    min-height: 500px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 1px;
    text-align: center;
}
.sidebar_content{
    min-height: 430px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer_height{
    min-height: 75px;
    margin-bottom: 25px;
    margin-top: 0px;
}
.copyright{
    min-height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
